doctype 5
html(lang="en")
head
	script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.min.js")
	include ../../public/css/normalize.css
	include ../../public/css/room.css
	
	title= title
body
	block content
	- var action = '/rooms'
	- if (!room.isNew)
			- action += '/'+room.id
	
		form(action=action, method="post", enctype="multipart/form-data")
			if (!room.isNew) 
				input(type="hidden", name="_method", value="put")
				
			fieldset
				legend CREATE A NEW ROOM:
				label(for="room[title]") TITLE: 
					input(type="text", name="room[title]", value=room.title, placeholder="Name the room.")
				p
				label(for="room[description]") DESCRIPTION:
					textarea(name="room[description]", placeholder="Enter the room description.")=room.description
			fieldset.exits
				legend DIR EXITS:	
				label(for="room.exits[n]") North:
					input(type="text", name="room[exits][north]", value=room.exits.north, placeholder="RoomID")
				label(for="room.exits[s]") South:
					input(type="text", name="room[exits][south]", value=room.exits.south, placeholder="RoomID")
				label(for="room.exits[e]") East:
					input(type="text", name="room[exits][east]", value=room.exits.east, placeholder="RoomID")
				label(for="room.exits[w]") West:
					input(type="text", name="room[exits][west]", value=room.exits.west, placeholder="RoomID")
				label(for="room.exits[ne]") NorthEast:
					input(type="text", name="room[exits][northeast]", value=room.exits.ne, placeholder="RoomID")
				label(for="room.exits[nw]") NorthWest:
					input(type="text", name="room[exits][northwest]", value=room.exits.nw, placeholder="RoomID")
				label(for="room.exits[se]") SouthEast:
					input(type="text", name="room[exits][southeast]", value=room.exits.se, placeholder="RoomID")
				label(for="room.exits[sw]") SouthWest:
					input(type="text", name="room[exits][southwest]", value=room.exits.sw, placeholder="RoomID")
				label(for="room.exits[up]") Up:
					input(type="text", name="room[exits][up]", value=room.exits.up, placeholder="RoomID")
				label(for="room.exits[down]") Down:
					input(type="text", name="room[exits][down]", value=room.exits.down, placeholder="RoomID")
			fieldset.other
				legend OTHER EXITS:
				ul
					#otherExitHolder
						li
							label(for="room.exits.other") Name:
								input(type="text", name="room.exits.other", value=room.exits.other[0], placeholder="Exit Name")  
							label(for="room.exits.other") Room:
								input(type="text", name="room.exits.other", value=room.exits.other[0], placeholder="RoomId")
					li 
						button(type="button") + add more
						
			p.buttons 
				input(type="submit", value="SAVE ROOM")
	block map
		#mapbox 
			h4 Rooms:
				ul
					- each room in map
						li.title= room.title 
						li.id= room.id
						li 
							p
	footer
		script
			$(":button").click(function () {
				event.preventDefault();
				$('#otherExitHolder')
					.append('<li><label for="room.exits.other">Name:<input type="text", name="room.exits.other", placeholder="Exit Name"></label><label for="room.exits.other">Room:<input type="text", name="room.exits.other", placeholder="RoomId"></label>');
			});
	