doctype 5
html(lang="en")
head
	include ../../public/css/normalize.css
	include ../../public/css/style.css
	include ../../public/css/user.css
	title= title
body
	block content
	- var action = '/users'
	- if (!user.isNew)
			- action += '/'+user.id
	
		form(action=action, method="post", enctype="multipart/form-data")
			if (!user.isNew) 
				input(type="hidden", name="_method", value="put")
				
			fieldset
				legend CREATE A NEW USER:
				label(for="user[name]") NAME: 
					input(type="text", name="user[name]", value=user.name, placeholder="Name the character.")
				p
				label(for="user[roomId]") CURRENT ROOM:
					input(name="user[roomId]", value=user.roomId, placeholder="RoomID")
			fieldset.exits
				legend STATS:	
				label(for="user.stats.strength") Strength:
					input(type="text", name="user[stats][strength]", value=user.stats.strength, placeholder="Number 0-100")
				label(for="user.stats.constitution") Constitution:
					input(type="text", name="user[stats][constitution]", value=user.stats.constitution, placeholder="Number 0-100")
				label(for="user.stats.agility") Agility:
					input(type="text", name="user[stats][agility]", value=user.stats.agility, placeholder="Number 0-100")
				label(for="user.stats.aptitude") Aptitude:
					input(type="text", name="user[stats][aptitude]", value=user.stats.aptitude, placeholder="Number 0-100")
				label(for="user.stats.focus") Focus:
					input(type="text", name="user[stats][focus]", value=user.stats.focus, placeholder="Number 0-100")
				label(for="user.stats.logic") Logic:
					input(type="text", name="user[stats][logic]", value=user.stats.logic, placeholder="Number 0-100")
				label(for="user.stats.creativity") Creativity:
					input(type="text", name="user[stats][creativity]", value=user.stats.creativity, placeholder="Number 0-100")
				label(for="user.stats.aptitude") Health Max:
					input(type="text", name="user[healthMax]", value=user.healthMax, placeholder="Number 0-100")
				label(for="user.stats.aptitude") Health Current:
					input(type="text", name="user[healthCurrent]", value=user.healthCurrent, placeholder="Number 0-100")
				label(for="user.stats.aptitude") Mana Max:
					input(type="text", name="user[manaMax]", value=user.manaMax, placeholder="Number 0-100")
				label(for="user.stats.aptitude") Mana Current:
					input(type="text", name="user[manaCurrent]", value=user.manaCurrent, placeholder="Number 0-100")
						
			p.buttons 
				input(type="submit", value="SAVE USER")
	